header {
  display: flex;
  width: 100%;
  padding: 4rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  gap: 3rem;
  background: $dark-20;

  h1, span {
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 2.5rem;
    font-weight: 500;
    cursor: pointer;
  }
  h1 {
    color: $brand-color;
  }
  span {
    color: $white;
  }

  div.input-text {
    @include flex(row, none, none);
    position: relative;


    img#icon-search {
      position: absolute;
      left: 15px;
      top: 9px;
      z-index: 2;
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
    }

    input {
      @include flex(none, center, none);
      z-index: 1;
      width: 76rem;
      padding: 1rem 0rem 1rem 4rem;
      align-items: center;
      border-radius: 0.5rem;
      border: 2px solid $dark-40;
      background: $dark-30;
      color: $gray;
      font-family: 'Inter';
      font-size: 1.25rem;
      transition: all 400ms;
      &:focus{
        outline: 1px groove $brand-color;
        box-shadow:$brand-color px 1px 1px;
      }
      &::placeholder{
        color: $gray;
        font-family: 'Inter';
        font-size: 1.25rem;
        font-weight: 500;
      }
    }
  }

  @include responsive(840px){
    div.input-text{
      width: 46rem;
    }
  }

  @include responsive(540px){
    height: 13.06rem;
    padding: 3rem 1.5rem;
    h1, span {
      font-size: 1.5rem;
    }
    div.input-text{
      width: 26rem;
      height: 3.125rem;
      img#icon-search {
        top: 5px;
      }
    }



  }
}
