.container {
  @include flex(column, center, none);

  div.result {
    h1#title-result {
      text-align: center;
      font-family: 'Space Grotesk';
      font-size: 2.5rem;
      font-weight: 500;
      color: $brand-color;
      cursor: pointer;
      display: none;
    }
  }
}
